{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main>
    <form action="{% url 'inscricao_add' %}" method='POST' enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            {% for error in field.errors %}
                <section class="alert alert-danger" role="alert">
                    {{ error }}
                </section>
            {% endfor %}
            {% if field|widget_type == 'checkboxinput' %}
                <div class="form-group form-check">
                    {{field|add_class:'form-check-input'}}
                    <label class="form-check-label" for="{{ field.id_for_label }}">
                        {{field.label}}
                    </label>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{field|add_class:'form-control'}}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn botao-cor-especial">Enviar</button>
    </form>
</main>
{% endblock %}