{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aniversário Campus Pelotas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'lightbox2-master/dist/css/lightbox.min.css' %}" />
</head>

<body>
<header>
    <section id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/banner-topo-2.png' %}" alt="Primeiro Slide">
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-begin ml-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Campus Pelotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'programacao' %}">Programação</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Galerias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'galeria' 'ifsul' %}">IFSul</a>
                        <a class="dropdown-item" href="{% url 'galeria' 'cefet' %}">Cefet</a>
                        <a class="dropdown-item" href="{% url 'galeria' 'etfpel' %}">ETFPel</a>
                        <a class="dropdown-item" href="{% url 'galeria' 'etp' %}">ETP</a>
                        <a class="dropdown-item" href="{% url 'galeria' 'preetp' %}">Pré-ETP</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscricao_add' %}">Inscrição</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#modal-contato" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section class="container bg-light">
        {% block content %} {% endblock %}
    </section>
</main>
<footer class="bg-secondary p-3 mt-5">
    <p class="text-light m-0 text-center">Câmpus Pelotas: Praça Vinte de Setembro, 455 - Centro - Pelotas/RS - Telefone:
        (53) 2123-1013
    </p>
</footer>
<!-- Modal -->
<div class="modal fade" id="modal-contato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <dialog class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulário de contato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header>
            <main class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Nome completo</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Insira seu nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Endereço de e-mail</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="nome@exemplo.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Insira seu comentário</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                  placeholder="Deixe aqui seu comentário"
                                  rows="3"></textarea>
                    </div>
                </form>
            </main>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn botao-cor-especial">Enviar</button>
            </footer>
        </dialog>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'lightbox2-master/dist/js/lightbox-plus-jquery.min.js' %}"></script>
<script src=""></script>

</body>
</html>