{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="justify-center">
            <h1>Campus Pelotas</h1>
            O Instituto Federal de Educação, Ciência e Tecnologia Sul-rio-grandense tem sua origem no hoje campus Pelotas,
            considerada Instituição de educação profissional pioneira e modelo de excelência em todo o Estado.
            Em 1917, o prédio abrigava a Escola de Artes e Officios, que em 1930 passa a ser a Escola Technico-Profissional
            - instituída pelo município para viabilizar seu funcionamento.
            A Escola Técnica de Pelotas (ETP), em 1942, é criada pelo Presidente Getúlio Dorneles Vargas, mediante gestões e
            ações de Luiz Simões Lopes. É inaugurada em 1943 e tem o início de suas atividades letivas em 1945.
            O primeiro curso técnico da ETP foi o curso de Construção de Máquinas e Motores, do qual é originário o atual
            curso de Mecânica Industrial. Ele foi implantado em 1953 graças à mobilização dos alunos e ao apoio do influente
            político pelotense Ary Rodrigues Alcântara, paraninfo da primeira turma de formandos.
            No ano de 1959, a Escola Técnica de Pelotas passa a autarquia Federal, e em 1965 passa a se denominar Escola
            Técnica Federal de Pelotas (ETFPEL).
            Em 1994, o Ministro da Educação encaminhou ao Congresso Nacional a proposta de um Sistema Nacional de Educação
            Tecnológica e de transformação das Escolas Técnicas Federais em Centros Federais de Educação Tecnológica. Em
            dezembro desse mesmo ano, foi editada a Lei que previu a transformação Institucional de todas as Escolas
            Técnicas da Rede Federal em CEFETs, exigindo processo individualizado para implantação gradativa de cada Centro,
            segundo critérios fixados pelo Poder Público.
            Também em 1994, foi reconhecida a regularidade de estudos do Curso Técnico de Desenho Industrial. Nesta época, a
            Escola oferecia oito Cursos Técnicos Integrados de Nível Médio: Mecânica, Eletrotécnica, Eletrônica,
            Edificações, Telecomunicações, Eletromecânica, Química e Desenho Industrial.
            A transformação da ETFPEL em Centro Federal de Educação Tecnológica de Pelotas - CEFET-RS ocorreu em 1999, o que
            possibilitou, além da oferta dos Cursos Técnicos de Nível Médio, oferta de Cursos Superiores e de Pós-graduação,
            incentivando ainda mais a pesquisa, a elaboração de projetos e convênios, com foco nos avanços tecnológicos.
            Posteriormente passou a fazer parte do Instituto Federal de Educação, Ciência e Tecnologia Sul-rio-grandense
            (IFSul), integrante da Rede Federal de Educação Profissional e Tecnológica, criado a partir do CEFET-RS,
            mediante Lei n°11.892, de 29 de dezembro de 2008.
            Hoje o IFSul, cuja sede administrativa está localizada em Pelotas/RS, é formado por doze campi: Pelotas,
            Pelotas-Visconde da Graça, Sapucaia do Sul, Charqueadas, Passo Fundo, Bagé, Camaquã, Venâncio Aires, Santana do
            Livramento Sapiranga (em implantação), Lajeado (em implantação) e Gravataí (em implantação).
            O Instituto Federal, caracterizado pela verticalização do ensino, oferta educação profissional e tecnológica em
            diferentes níveis e modalidades de ensino, assim como articula a educação superior, básica e tecnológica.
            Neste campus, estão em funcionamento quinze Cursos Técnicos de Nível Médio, cinco Cursos Superiores de
            Tecnologia e uma Engenharia, além de Cursos de Pós-graduação, Formação Pedagógica e Educação a Distância.
            Esta unidade do Instituto Federal Sul-rio-grandense vem atendendo uma média de 4000 alunos por ano, orientando,
            formando e colocando no mundo do trabalho, jovens aptos a iniciarem uma carreira promissora, com competência,
            atitude e profissionalismo.
            O campus Pelotas tem área própria de 40.440m², sendo 48.240m² construídos, em três pavimentos. A unidade tem 55
            salas de aula, 120 laboratórios específicos e 41 oficinas, somando quase 15.000m² de área para o ensino
            profissional. Para a prática de esportes dispõe de um ginásio coberto, quadras e pista de atletismo com 7.000m²
            e, ainda biblioteca, auditório denominado Enilda Feistauer e mais cinco miniauditórios.
        </div>

{% endblock %}
</body>
</html>
